version: "3.9"

services:

  api:
    build:
      context: .
      dockerfile: infra/docker/Dockerfile.api
    ports:
      - "8000:8000"
    volumes:
      - ./platform:/app

  ui:
    build:
      context: .
      dockerfile: infra/docker/Dockerfile.ui
    ports:
      - "5173:5173"
    depends_on:
      - api